*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, orange,white, green);
    position: fixed;
}
.main{
   /* background-color: rgba(96, 96, 218, 0.704);*/
   background: linear-gradient(135deg, orange,white, green);
    width: 800px;
   /* height: 800px;*/
 
    border-radius: 22px;
    margin: 150px auto;  
    /*border: 5px solid black; */
    box-sizing: border-box  ;
}
.title{
    text-shadow: 1px 1px 2px red;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background: darkorange;
    border-radius: 25px;
    padding: 18px;
    font-size: 25px;
}
.task{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 28px;
    background-color: #dcd6d6e6;
    border-radius: 28px;
    padding: 25px;
}
#inputfield{
    width: 400px;
    padding: 23px 23px 23px 34px;
    border-radius: 27px;
    font-size: 25px;
    background: transparent;
    border: none;
    outline: none;
   
}
#btn1{
    width: 100px;
    height: 75px;
    border-radius: 27px;
    background-color: orange;    
    font-size: 25px;
    border: hidden;
    cursor: pointer;
}
.list-container ul{
    padding: 34px 0px 54px 68px;
    list-style: disc;
}
.list-container ul li{
    margin-left: 5px;
    padding: 10px 0px;
    font-size: 26px;
}
.completed{
    text-decoration: line-through;
}
ul li span{
    font-size: 38px;
   background: transparent  ;
    display: inline-flex;
    justify-content: center;
    float: right;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 413px;
    border-radius: 50%;
}
ul li span:hover{
    background-color:rgb(151, 151, 151) ;
    cursor: pointer;
}