*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(background-image.jpg);
}
.navbar{
    background-color: green;
    text-align: center;
    font-size: larger;
    font-weight: 500;

   
}
.navbar ul{
    display: inline-flex;
    list-style: none;
    color: white;

}

.navbar ul li {
    width: 120px;
    margin: 15px;
    padding: 25px;
    color: white;
}
.navbar ul li:hover{
   
    background-color: rgb(15, 231, 80);
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}
.active{
    background-color:rgb(15, 231, 80);
}