*{
    padding: 0;
    margin: 0;
}


body{
   background-image: url(https://wallpapers.com/images/high/creative-fish-bowl-city-2sl2zdohpb09q29c.webp);
   background-size: cover;

   background-position: top;
   
}


.navbar{
    background-color: green;
    text-align: center;
    font-size: larger;
    font-weight: 500;

   
}
.navbar ul{
    display: inline-flex;
    list-style: none;
    color: white;

}

.navbar ul li {
    width: 120px;
    margin: 15px;
    padding: 25px;
    color: white;
}
.navbar ul li:hover{
   
    background-color: rgb(15, 231, 80);
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}
.active{
    background-color:rgb(15, 231, 80);
}
.sub-menu1{
    display: none;
}

.navbar ul li:hover .sub-menu1{
    display: block;
    position:absolute;
    background-color: green;
    margin-top: 30px;
    margin-left: 15px;
}
.navbar ul li:hover .sub-menu1 ul{
    display: block;
    margin-top: 15px;
}

.navbar ul li:hover .sub-menu1 ul li{
    width: 75px;
    border-radius: 0px;
    text-align: left;

}

.sub-menu2{
    display: none;
}

.sub-menu1 ul li:hover .sub-menu2{
    display: block;
    
}